html,
body {
  height: 100%;
  width: 100%;
  margin-right: 0px;
  padding: 0px;
  min-height: 100%;
  display: table;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  overflow-x:hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin: 0;
  padding-bottom: 15rem;
  min-height: 100%;
}
